:root {
    --primary-text-color:#2E2F42;
    --text-slate-color:#434455;
    --button-color-on:#F4F4FD;
    --button-color-off:#404BBF;
    --title-text-color:#FFFFFF;
    --title-bgc-text:#4D5AE5;
    --pressed-state:#404BBF;
    --light-subtle-text:#8E8F99;
    --cornflower-accent:#E7E9FC;
    --color-customer:#AFB1B8;
    --bgd-modal:#FCFCFC;
    --title-modal-txt:#2E2F42;

    /* succees */
    --success-green:#31D0AA;
    --success-green-75:#31d0aa;
    --success-green-50:#31D0AA;
    --success-green-10:#31D0AA;

    --timing-cubic:cubic-bezier(0.4, 0, 0.2, 1);


    /* breakpoints */
    --phone-screen: 428px;
    --tablet-screen:768px;
    --desctop-screen:1158px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--title-text-color);
}

.page{
    overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Button */


.btn-hero {
    font-family: 'Roboto';
    font-weight: 500;
    background-color: var(--title-bgc-text);
    color: var(--title-text-color);
    cursor: pointer;
    border: none;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;

    display: block;
    padding: 16px 32px;
    margin: 0px auto;
    margin-top: 48px;
    text-transform: capitalize;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    transition: background-color 250ms var(--timing-cubic);
}

.btn-hero:hover,
.btn-hero:focus {
    background-color: var(--pressed-state);
    color: var(--title-text-color);
}

.button{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--title-bgc-text);
    background: var(--button-color-on);
    cursor: pointer;
    font-weight: 500;
    
    border: 1px solid var(--cornflower-accent);
    border-radius: 4px;
    text-transform: capitalize;
    padding: 12px 24px;
    transition: color 250ms var(--timing-cubic);
}

.button.primary:hover,
.button.primary:focus {
    background: var(--button-color-off);
    color: var(--button-color-on);
    cursor: pointer;
    letter-spacing: 0.04em;
    
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--button-color-on);
    background: var(--button-color-off);
    cursor: pointer;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
}

button{
    
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}


ul,ol{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
/* section */

.section{
    padding-top: 96px;
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto
}

@media screen and (min-width:1200px) {
    .section{
    padding-top: 120px;
    padding-bottom: 120px;
}
}



/* div */

.container{
    min-width: 320px;
    max-width: 428px;
 
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (min-width:768px){
    .container{
        max-width:768px;
    }
}

@media screen and (min-width:1200px){
    .container{
        max-width:  1158px;
    }
}


/* header */

header {
    border-bottom: 1px solid var(--cornflower-accent);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-portfolio{
    border-bottom: 1px solid var(--cornflower-accent);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    font-weight: 800;
    color: var(--title-bgc-text);
    padding: 24px 0;
    
}

@media screen and (min-width:768px) {
    .logo{

    }
}

@media screen and (min-width:768px) {
    .logo{
        padding: 24px 0 28px 0;
    }
}

.logo-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    color: var(--primary-text-color);
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-footer{
    color: var(--button-color-on);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    transition: color 250ms var(--timing-cubic);
}

.logo-footer:focus,
.logo-footer:hover{
    color: var(--title-bgc-text);
}

/* nav */

.menu{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0px;
    display: block;
    transition: color 250ms var(--timing-cubic);
}

.portfolioo{
    color: var(--button-color-off);
}

.activity{
    color: var(--button-color-off);
}

.activity::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    bottom: -1px;
    height: 4px;
    background-color: var(--button-color-off);
    border-radius: 2px;
}



.site-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
    gap: 40px;
}

.site-nav-item{
    position: relative;
}

.main-nav{
    display: none;
}

@media screen and (min-width:768px) {
    .main-nav{
        max-width: 768px;
        display: flex;
        margin-left: auto;
    }
    
}

@media screen and (min-width:1200px) {
    .main-nav{
        max-width: 1200px;  
        margin-left: 76px;
    }
    
}

.auth-nav{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-slate-color);
    display: none;
    
    margin-left: auto;
    
}

@media screen and (min-width:768px) {
    .auth-nav{
        max-width: 768px;
        display: flex;
        flex-direction: column;
        margin-bottom: -10px;
        
    }
    
}

@media screen and (min-width:1200px) {
    .auth-nav{
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-bottom: 0px;
    }
    
}

.info-item{
    display: block;
}

.info:hover,
.info:focus,
.info:active{
    color: var(--pressed-state);
    
}

.info{
    color: var(--text-slate-color);
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    
    transition: color 250ms var(--timing-cubic);
}

@media screen and (min-width:768px) {
    .info{
        max-width: 768px;
        display: block;
        /* padding: 4px 0px; */
    }
}

@media screen and (min-width:1200px) {
    .info{
        max-width: 1200px;
        
        padding: 24px 0px;
    }
}

.box-main {
    display: flex;
    align-items: center;
}


/* section hero */

.hero{
    padding: 112px 0;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
    url('../images/bgdhero/Dark-bg_mob@1x.jpg');
    
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    max-width: 767px;
    background-image: 
    linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),url('../images/bgdhero/Dark-bg_mob@2x.jpg');
  }
}

@media screen and (min-width:768px) {
    .hero{
        max-width: 1200px;
        background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
    url('../images/bgdhero/Dark-bg_tabl@1x.jpg');
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
    url('../images/bgdhero/Dark-bg_tabl@2x.jpg');
  }
}
}

@media screen and (min-width:1200px) {
    .hero{
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
    url('../images/bgdhero/Dark-bg_desc@1x.jpg');
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
    url('../images/bgdhero/Dark-bg_desc@2x.jpg');
  }
}
}

.title-hero{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.110;
    text-align: center;
}

@media screen and (min-width:768px) {
    .title-hero{
        max-width: 768px;
        font-size: 56px;
        line-height: 1.07;
    }
    
}

@media screen and (min-width:1200px) {
    .title-hero{
        max-width: 1440px;
    }
    
}

/* MODAL */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms var(--timing-cubic);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal{
    opacity: 1;
    visibility: visible;
    width: calc(100% - 36px);
    position: absolute;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background: var(--bgd-modal);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity 250ms var(--timing-cubic);
}

@media screen and (min-width:768px) {
    .modal{
        max-width: 768px;
        width: 408px;
    }
    
}

@media screen and (min-width:768px) {
    .modal{
        max-width: 768px;
        width: 408px;
    }
    
}

.backdrop:hover .modal{
    opacity: 1;
}

.icon-cls{
    display: block;
    width: 8px;
    height: 8px;
}

.cls-button{
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
}


.cls-button:hover,
.cls-button:focus{
    background-color: var(--button-color-off);
    fill: var(--title-text-color);
    transition: 250ms var(--timing-cubic);
}

.title-modal{
    color: var(--title-modal-txt);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-top: 24px;
    text-align: center;
    letter-spacing: 0.02em;

    margin-bottom: 14px;
}

/* form lable */

.inputs{
    display: flex;
    flex-flow: column;
    padding: 72px 24px 0 24px;
}


.form-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;

    position: relative;
}


.boking-label{
    letter-spacing: 0.01em;
    color: #8E8F99;

    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
}

.boking-label-coment{
    letter-spacing: 0.01em;
    color: #8E8F99;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;

}

.order-coment{
    display: block;
    resize: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    
    padding-top: 8px;
    padding-left: 16px;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    
    transition: 250ms var(--timing-cubic);
}

.order-coment:focus{
    border: 1px solid var(--title-bgc-text);
}

.order-coment::placeholder{
    color: rgba(117, 117, 117, 0.5);
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}


.form-input{
    height: 40px;
    
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 38px;
    order: 1;

    transition: 250ms var(--timing-cubic);
}

.form-input:focus{
    border: 1px solid var(--title-bgc-text);
}

.form-input:focus + .form-icon{
    fill: var(--title-bgc-text);
}

.form-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    pointer-events: none;

    transition: 250ms var(--timing-cubic);
}

/* Privacy Policiy */


.conteiner-policy {
    margin-top: 16px;
    margin-bottom: 24px;
}

.check-privacy {

    color: #757575;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.check-privacy-input{
    position: absolute;
    appearance: none;
    border-radius: 2px; 
    border: 1.25px solid #2E2F42;
    
    
    width: 16px;
    height: 16px;
    fill: var(--title-text-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 8px;

    transition: 250ms var(--timing-cubic);
}

.check-privacy-input:checked{
    background-color: var(--title-bgc-text);
    border-color: var(--title-text-color);
}

.text-check{
    margin-left: 24px;
}

.text-check-link{
    text-decoration: underline;
}
  
.check-privacy > a {
    text-decoration-line: underline;
    color: #4d5ae5;

}

/* btn-submit */

.btn-send {
    font-family: 'Roboto';
    font-weight: 500;
    background-color: var(--title-bgc-text);
    color: var(--title-text-color);
    cursor: pointer;
    border: none;

    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;
    width: 169px;
    height: 56px;

    display: block;
    padding: 16px 32px;
    margin: 0px auto;
    margin-bottom: 24px;
    text-transform: capitalize;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;

    transition: background-color 250ms var(--timing-cubic);
}

.btn-send:hover,
.btn-send:focus {
    background-color: var(--pressed-state);
}


/* Information section */


.information-title{
    text-align: center;
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 0;
}

@media screen and (min-width:768px) {
    .information-title{
        max-width: 768px;
        text-align: start;
    }
    
}

@media screen and (min-width:1200px) {
    .information-title{
        max-width: 1200px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-top: 8px;
        
    }
    
}


.information-text{
    font-weight: 500;
    color: var(--paragraf-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
    
}

@media screen and (min-width:768px) {
    .information-text{
        max-width: 768px;
    }
    
}

@media screen and (min-width:1200px) {
    .information-text{
        max-width: 1200px;
        font-weight: 400;
    }
    
}



.information-list { 
    display: flex;
    flex-wrap: wrap;
    gap: 72px; 
}

@media screen and ( min-width:768px) {
    .information-list {
        width: 100%;
        
        
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and ( min-width:1200px) {
    .information-list {
        max-width: 1200px;
        
        flex-wrap: nowrap;
        gap: 24px;
    }

    .information-item, .antena::before{
    content: '';
    width: 264px;
    height: 112px;
    display: block;
    
    background-color: var(--button-color-on);
    fill: #2e2f42;
    border-radius: 4px;
    background-image: url(../images/icon/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.information-item, .clock::before{
    content: '';
    width: 264px;
    height: 112px;
    display: block;
    
    background-color: var(--button-color-on);
    border-radius: 4px;
    background-image: url(../images/icon/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.information-item, .diagramma::before{
    content: '';
    width: 264px;
    height: 112px;
    display: block;
    
    background-color: var(--button-color-on);
    border-radius: 4px;
    background-image: url(../images/icon/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.information-item, .astroboy::before{
    content: '';
    width: 264px;
    height: 112px;
    display: block;
    
    background-color: var(--button-color-on);
    border-radius: 4px;
    background-image: url(../images/icon/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
}
    
}

.information-item{

}

@media screen and (min-width:768px) {
    .information-item{
        max-width: 768px;
        width: 356px;
    }
}
  


/* Doing img */

.poster {
    display: none;
}

@media screen and (min-width:768px) {
    .poster{
        max-width: 768px;

    }
    
}

@media screen and (min-width:1200px) {
    .poster{
        display: flex;
        max-width: 1200px;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
}


.poster-title{
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

/* content */

.poster-list{
    display: flex;
    gap: 24px;
}


/* Team */


.content{
    background-color: var(--button-color-on);
}


.content-title{
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;

}


@media screen and (min-width:768px) {
    .content-title{
        max-width: 768px;
    }
    
}

@media screen and (min-width:1200px) {
    .content-title{
        max-width: 1200px;
    }
    
}

.content-list {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px;
    margin-top: 72px;
}

@media screen and (min-width:768px) {
    .content-list{
        max-width: 768px;
        justify-content: center;
        row-gap: 64px;
        column-gap: 24px;
        
    }
    
}

@media screen and (min-width:1200px) {
    .content-list {
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}
    
}

.content-item-title{
    color: var(--primary-text-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.content-item-text{
    color: var(--paragraf-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.group-elements{
    padding: 32px 16px;
    padding-bottom: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background: var(--title-text-color);
    width: 264px;

    justify-content: center;
    align-items: center;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

/* social-button */

.actions{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.buttons{
    background-color: var(--title-bgc-text);    
    border-radius: 50%;
    display: block;
    border: none;
    height: 40px;
    fill: var(--button-color-on);
    transition: background-color 250ms var(--timing-cubic);
}

.buttons-icon{
    width: 16px;
    height: 16px;
    margin: 12px;
    fill: var(--button-color-on);
}

.buttons:hover,
.buttons:focus{
    background-color: var(--button-color-off);
}

/* Customers*/

.Customers-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.customers-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 16px;
    
    margin-top: 72px;
}

@media screen and (min-width:768px) {
    .customers-list{    
        max-width: 719px;
        
    }
    
}

@media screen and (min-width:1200px) {
    .customers-list{
        max-width: 1200px;
        gap: 24px;
        display: flex;
    flex-wrap:nowrap;
    }
    
}

.busines-partner{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-customer);
    border-radius: 4px;
    width: 168px;
    height: 88px;
    color: var(--color-customer);
    transition: color 250ms var(--timing-cubic);
}

.brend{
    fill: currentColor;
}


.busines-partner:hover,
.busines-partner:focus{
    border: 1px solid currentColor;
    color: var(--pressed-state); 
}

/* Portfolio */


.portfolio{
    padding-bottom: 120px;
}

/* buttons */

.buttons-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

@media screen and (min-width:768px) {
    .buttons-list{
        max-width: 768px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    
}

@media screen and (min-width:1200px) {
    .buttons-list{
        max-width: 1200px;
        display: flex;
        
    }
    
}

.card-text{
    border: 1px solid var(--cornflower-accent);
    border-top: 0;
    padding-top:32px ;
    padding-bottom: 32px;
    padding-left:16px ;
    background: var(--title-text-color);
}


/* Portfolio-gallery */


.gallery-title{
    color: var(--primary-text-color);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.gallery-item:hover,
.gallery-item:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


/* (overflow) */


.footer-link:hover,
.footer-link:focus{
    background: var(--success-green);
}

.one{
    position: relative;
    overflow: hidden;
}

.twoo{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--title-bgc-text);
    color: var(--button-color-on);
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translate(0,100%);
    transition: transform 250ms var(--timing-cubic);
}

.two .link:hover .twoo,
.two .link:focus .twoo{
    transform: translate(0,0);
}

.gallery-text{
    color: var(--text-slate-color);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    row-gap: 48px;
/*     column-gap: 24px; */
}

@media screen and (min-width:768px) {
    .gallery{
        column-gap: 16px;
    }
}
@media screen and (min-width:1200px) {
    .gallery{
        column-gap: 22px;
    }
}


/* nav subscribe */

.subscribe{
    display: block;
    align-items: center;
    width: 100%;
}

@media screen and (min-width:768px) {
    .subscribe{
        max-width: 768px;
        margin-top: 72px;
        margin-left: 108px;
        padding-right: 108px;

    }
    
}

@media screen and (min-width:1200px) {
    .subscribe{
        max-width: 1200px;
        width: auto;
        display: block;
        align-items: center;
        margin-left: auto;
        padding-right: 0;
        margin-top: 0;
    }
}


    

.footer-input{
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    /* width: 398px; */
    width: 100%;
    height: 40px;
    padding: 8px 0 8px 16px;
    background-color: transparent;
    outline: none;

    font-size: 12px;

    transition: 250ms var(--timing-cubic);

    
}

@media screen and (min-width:768px) {
    .footer-input{
        max-width: 768px;
        width: 264px;
    }
}

@media screen and (min-width:1200px) {
    .footer-input{
        max-width: 1200px;
        width: 264px;
    }
}

.footer-input::placeholder{
    letter-spacing: 0.04em;
    font-weight: 400;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 2;
}

 
.footer-input:focus{
    background: inherit;
    
}

.footer-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

@media screen and (min-width:768px) {
    .footer-btn{
        max-width: 768px;
        gap: 24px;
        flex-direction: row;
    }
    
}

@media screen and (min-width:1200px) {
    .footer-btn{
        max-width: 1200px;
        align-items: center;
        gap: 24px;
    }
    
}

.btn-subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 
    cursor: pointer;
    
    background-color: var(--title-bgc-text);
    color: var(--title-text-color);

    padding: 8px 24px;
    padding-right: 64px;

    letter-spacing: 0.04em;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    min-width: 165px;

    transition: background 250ms var(--timing-cubic);
}
    
    
.btn-subscribe:hover,
.btn-subscribe :focus{
    background: var(--button-color-off);
}

.btn-subscribe-icon{
    position: absolute;
    fill: var(--title-text-color);
    right: 24px;
}


/* footer */

footer{
    background: var(--primary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.flex-footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
    flex-wrap: wrap;
}

@media screen and (min-width:768px) {
    .flex-footer{
    max-width: 768px;
    display: flex;
    flex-direction: row;
    /* text */
    text-align: start;
    align-items: normal;
    gap: 24px;
    }
    
}

@media screen and (min-width:1200px) {
    .flex-footer{
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        /* text */
        text-align: start;
        align-items: normal;
    }
    
}

 
.footer-text{
    max-width: 264px;
    margin-top: 16px;
    color: var(--cornflower-accent);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-media{
    display: block;
    row-gap: 72px;
}


@media screen and (min-width:320px) {
    .footer-media{
        max-width: 768px;

    }
    
}

@media screen and (min-width:1200px) {
    .footer-media{
        max-width: 1200px;
        margin-left: 120px;
    }
    
}

.social-media-subscribe{
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--title-text-color);
    margin-bottom: 16px;
}

.social-media{
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--title-text-color);
    padding-bottom: 16px;
}

.footer-actions{
    display: flex;
    margin-top: 8px;
    gap: 24px;

}

.footer-link{
    background: rgba(255, 255, 255, 0.1);    
    border-radius: 50%;
    display: block;
    border: none;
    height: 40px;
    fill: var(--button-color-on);
    transition: 250ms var(--timing-cubic);
}

.footer-icon{
    width: 24px;
    height: 24px;
    margin: 8px;
    fill: var(--button-color-on);
}



/* MOBILE MENU */

.mt{
    padding-top: 25px;
    padding-bottom: 26px;
}
@media screen and (min-width:768px) {
    .mt{
        max-width: 768px;
        padding-bottom: 22px;
    }
    
}

@media screen and (min-width:1200px) {
    .mt{
        max-width: 1200px;
        padding: 0;
    }
    
}

.menu-toggle {
    min-height: 34px;
    min-width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  
    
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
  
@media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
}
  
.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

/* .size-burger{
    width: 30px;
    height: 30px;
}
   */
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: var(--title-text-color);
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    /* display: flex;
    justify-content: space-between; */
    flex-direction: column;
    overflow: auto;
    
}
  
.menu-container.is-open {
    transform: translateX(0);
}
  
.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #000;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);   
}
  
.mobile-menu {
    list-style: none;
    margin-bottom: 284px;
}
  
.mobile-menu .link {
    display: block;
    color: var(--primary-text-color);
    text-decoration: none;
    /* text */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    /* padding-bottom: 40px; */
    /* margin-top: 32px; */
}

.actions-box{
    gap: 56px;
    display: flex;
    
}

.box-icon{
    width: 24px;
    height: 24px;
    margin: 8px;
    fill: var(--button-color-on);
}

.mobile-li{
    margin-bottom: 32px;
}

.boxi{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #434455;
    margin-bottom: 40px;
    color: var(--title-bgc-text);
}

.box{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 48px;
}
